@font-face {
  font-family: Uchronia;
  src: url('./assets/Uchronia-font/UchronyRegular-ZVlV3.ttf');
}

@font-face {
  font-family: UchroniaBold;
  src: url('./assets/Uchronia-font/UchronyBold-EaRaW.ttf');
}

@font-face {
  font-family: UchroniaLight;
  src: url('./assets/Uchronia-font/UchronyLight-OV7V6.ttf');
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

body {
  background-image: linear-gradient(to right, #200589, #3d144c);
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
}

.landing-page,
.get-started-page,
.reusable-form,
.about-page,
.auctions-page,
.trading-view,
.trades {
  min-height: 100vh;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(20px);
}

.title-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.title-wrapper h1 {
  font-family: UchroniaLight;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin: auto auto 0.25rem auto;
}

/* .subtitle-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.title-wrapper h2 {
  font-family: UchroniaLight;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: auto auto 0.25rem auto;
}

.get-started-page {
  opacity: 0.9;
}

.landing-page:hover,
.get-started-page:hover,
.reusable-form,
.about-page,
.trading-view ,
.trades {
  transform: translateY(0);
  opacity: 1;
}
@media (max-width: 768px) {
  .landing-page,
  .get-started-page,
  .reusable-form,
  .about-page,
  .trading-view,
  .trades {
    justify-content: flex-start;
    padding: 1rem;

  }
}
