@font-face {
  font-family: Uchronia;
  src: url('./assets/Uchronia-font/UchronyRegular-ZVlV3.ttf');
}

@font-face {
  font-family: UchroniaBold;
  src: url('./assets/Uchronia-font/UchronyBold-EaRaW.ttf');
}

@font-face {
  font-family: UchroniaLight;
  src: url('./assets/Uchronia-font/UchronyLight-OV7V6.ttf');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: .063rem;
  height: 100vh;
}
