.dashboard-container {
  display: flex;
  height: 100vh;
}

/* Main Content */
.main-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 20px;
}


/* Chart Section */
.chart-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.chart-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Data and Actions Section */
.data-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.performance-stats {
  flex: 1;
  min-width: 300px;
  padding: 10px;
}

.performance-stats h2 {
  margin-bottom: 10px;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions .buy-btn,
.actions .sell-btn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buy-btn {
  background-color: #28a745;
  color: white;
}

.buy-btn:hover {
  background-color: #218838;
}

.sell-btn {
  background-color: #dc3545;
  color: white;
}

.sell-btn:hover {
  background-color: #c82333;
}
