<section class="auctions-page">
  <div class="title-wrapper">
    <h1>Live Auctions</h1>
  </div>
  <div class="card-container">
    <div class="card" *ngFor="let card of cards">
      <h3>{{ card.bundle }}</h3>
      <p class="description"> {{card.description }}</p>
      <button class="expand-button" (click)="expandedCard = expandedCard === card ? null : card">
        {{ expandedCard === card ? 'Collapse' : 'Expand' }}
      </button>
      <div *ngIf="expandedCard === card" class="card-details">
        <div class="card-table">
          <div class="table-row">
            <div class="table-cell">Entity:</div>
            <div class="table-cell">{{ card.entity_name }}</div>
          </div>
          <div class="table-row">
            <div class="table-cell">Rating:</div>
            <div class="table-cell"> {{card.rating}}</div>
          </div>
          <div class="table-row">
            <div class="table-cell">Value:</div>
            <div class="table-cell">{{card.bundle_value}}</div>
          </div>
          <div class="table-row">
            <div class="table-cell">Bids:</div>
            <div class="table-cell">{{card.bids}}</div>
          </div>
        </div>
        <div class="view">
          <button [routerLink]="['/auction-details']" class="expand-button">View</button>
        </div>
      </div>
    </div>
  </div>
    <!-- Show More / Show Less Button -->
    <button class="toggle-button" (click)="toggleExpand()">
      {{ showAll ? 'Show Less' : 'Show More' }}
    </button>
  <!-- <div class="title-wrapper">
    <h1>Live Auctions</h1>
  </div>
  <div class="card-container">
    <div class="card" *ngFor="let card of cards">
      <h3>{{ card.title }}</h3>
      <p>{{ card.description }}</p>
      <button class="expand-button" (click)="expandCard(card)">
        {{ isExpandedCard(card) ? 'Collapse' : 'Expand' }}
      </button>
      <div *ngIf="isExpandedCard(card)" class="card-details">
        <p>{{ card.details }}</p>
      </div>
    </div>
  </div>
  <button class="toggle-button" (click)="toggleExpand()">
    {{ showAll ? 'Show Less' : 'Show More' }}
  </button> -->
</section>
