<section class="landing-page">
  <div class="title-wrapper"><h1>Welcome to Debt Markets</h1></div>
  <div class="content-width">
    <div class="slideshow">
      <div
        class="slideshow-items"
        [style.transform]="'translateX(-' + activeIndex * 100 + '%)'"
      >
        <div
          *ngFor="let item of slideshowItems"
          class="item"
        >
          <div class="item-content">
            <div class="item-image-container">
              <img class="item-image" [src]="item.image" alt="item.title" />
            </div>
            <div class="item-text">
              <div class="item-header">
                <h2>{{ item.title }}</h2>
              </div>
              <div class="item-description">
                <p>{{ item.description.join(' ') }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="controls">
        <ul>
          <li
            *ngFor="let item of slideshowItems; let i = index"
            class="control"
            [class.active]="i === activeIndex"
            (click)="goToSlide(i)"
          ></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="button-wrapper">
    <button (click)="navigateToGetStarted()">Get Started</button>
    <button (click)="navigateToLogin()">Login</button>
  </div>
</section>
<app-get-started></app-get-started>
