.overview {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

.card {
    max-height: 250px;
    max-width: 200px;
    background-color: 	#222;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px #0000001a;
    margin-right: 1rem;
    padding: 1rem;
  }

  .button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    margin-top: 1rem;
  
  }
  
  .button-wrapper button {
    color: black;
    font-family: Uchronia;
  
    background-color: aquamarine;
    box-shadow: 0 4px 6px whitesmoke;
  
    width: 100px;
    height: 40px;
  
    &:hover {
      background-color: aqua;
    }
  }

  .portfolio_description {
    font-size: small;
    font-style: italic;
    color: aliceblue;
  }

  table {
    background-color: blanchedalmond;
    width: 100%;
  }

  table, th, td {
    border: none;
    color: black;
  }

  th, td {
    text-align: start;
  }
.portfolios, .auction-history {
  display: inline-block;
  margin: auto;
}