<section class="overview">
  <h2>Lender Dashboard</h2>
  <div *ngIf="overview; else loadingTemplate">
    <h3>Portfolios</h3>
    <div *ngIf="overview.portfolios.length === 0">No portfolios available</div>
    <div class="portfolios" *ngFor="let portfolio of overview.portfolios">
      <div class="card">
        <h4>{{ portfolio.portfolioName }}</h4>
        <table>
          <tr>
            <th>Value</th>
            <th>Rating</th>
            <th>Status</th>
            <!-- <th>Action</th> -->
          </tr>
          <tr>
            <td>${{ portfolio.portfolioValue }}</td>
            <td>{{ portfolio.rating }}</td>
            <td>{{ portfolio.status }}</td>
          </tr>
        </table>
        <div class="button-wrapper">
          <button 
            *ngIf="portfolio.status === 'evaluated'" 
            (click)="openTokenizeModal(portfolio.id, portfolio.totalValue)"
            class="btn btn-primary">
            Tokenize
          </button>
          <button 
            *ngIf="portfolio.status === 'tokenized'" 
            (click)="onAuction(portfolio.id)" 
            class="btn btn-success">
            Auction
          </button>
        </div>
        <!-- <div class="button-wrapper">
          <button (click)="startAuction(portfolio.id)">Start Auction</button>
        </div> -->
      </div>
    </div>

    <h3>Auction History</h3>
    <div *ngIf="overview.auctions.length === 0">No NPL Portfolios auctions yet</div>
    <div *ngFor="let auction of overview.auctions" class="auction-history">
      <div class="card">
        <h4>Auction for Portfolio {{ auction.portfolioId }}</h4>
        <p>Start Date: {{ auction.startDate | date }}</p>
        <p>End Date: {{ auction.endDate | date }}</p>
        <p *ngIf="auction.winningBid > 0">Winning Bid: ${{ auction.winningBid }}</p>
        <p>Winning Bid: {{'Not concluded'}}</p>
      </div>
    </div>

    <h3>Earnings History</h3>
    <div *ngIf="overview.earnings.length === 0">No calculated earnings available</div>
    <div *ngFor="let earning of overview.earnings">
      <div class="card">
        <h4>Earnings for Portfolio {{ earning.portfolioId }}</h4>
        <p>Amount: ${{ earning.amount }}</p>
        <p>Date: {{ earning.date | date }}</p>
      </div>
    </div>
  </div>

  <ng-template #loadingTemplate>
    <p>Loading overview data...</p>
  </ng-template>
</section>
