<section class="about-page">
  <div class="content-wrapper">
    <div class="info">
      <div class="title-wrapper">
        <h1 class="title">About Us</h1>
      </div>
      <div class="inner-info">
        <p>
          Debt Markets is an online platform that acts as <br>a service for Creditors(Loan Providers),
          Collection Agents and Traders.
        </p>
        <h2>What We Do Differently</h2>
        <p>
        The platform allows the Creditors to enlist their Non-performing loan bundle. <br>
        Then the Collection Agents will start bidding on the budles. <br>
        The successful bidders will later allow Traders to invest in acquired bundle. <br>
        Allowing individuals to potentially make money. </p>
      </div>
    </div>
    <div class="info">
      <div class="title-wrapper">
        <h1 class="title">Our team</h1>
      </div>
    </div>
  </div>
</section>
