.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;;
  width: 100%;

  overflow-y: auto;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}
