<section class="closed-auctions">
  <h2>Closed Portfolios</h2>
  <div *ngIf="closedPortfolios.length === 0">No Closed NPL Portfolios Auctions Yet</div>
  <table *ngIf="closedPortfolios.length > 0">
    <thead>
      <tr>
        <th>Portfolio Name</th>
        <th>Final Sale Price (USDC)</th>
        <th>Date Sold</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let portfolio of closedPortfolios">
        <td>{{ portfolio.portfolioName }}</td>
        <td>{{ portfolio.winningBid }}</td>
        <td>{{ portfolio.dateSold | date }}</td>
      </tr>
    </tbody>
  </table>
</section>
