<nav class="navbar">
  <div class="logo">
    <h1 [routerLink]="logoLink">{{ logoText }}</h1>
  </div>

  <div class="menu-container">
    <ul class="menu">
      <!-- Menu items for logged-in users -->
      <li *ngIf="isLoggedIn">
        <a [routerLink]="'/profile'" class="user-info">{{ userInfo }}</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a href="#" (click)="logout()">Logout</a>
      </li>

      <!-- Full menu items when the user is logged out -->
      <ng-container *ngIf="!isLoggedIn">
        <li *ngFor="let item of menuItems">
          <a *ngIf="item.link" [routerLink]="item.link">{{ item.label }}</a>
          <a *ngIf="item.action" href="#" (click)="item.action()">{{ item.label }}</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
