.side-nav{
  position: fixed;
  width: 290px;
}
.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-nav li {
  padding: 1rem;
  &:hover {
    background-color: #222;
  }
}

.side-nav li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  font-family: Uchronia;
}

.side-nav li a.active {
  color: #8A00C4;
  font-weight: bold;
}

